<% @page_title = 'Teletrack - New Status' %>

<%= form_for(@status) do |f| %>
  <p>
    <b>Status name</b><br />
    <%= f.text_field :status_name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
