<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">                   	
<html>

<head>
	<%= stylesheet_link_tag "email" %>
	<%= javascript_include_tag "application" %>
</head>

<body id="mobile">
	<%= yield %>
</body>
</html>
